* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*==== NAV ===== */
.menu {
  display: flex;
  align-items: center;

}

.navbar {
  margin-left: 100px;
  width: 100%;
}

.navbar ul {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
  height: 70px;
}

.navbar ul li {
  margin-right: 90px;
}

.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
  padding-bottom: 5px;
}




.menu a:hover {
  border-bottom: 4px solid #ff6b57;
  height: 60px;
}

/*==== Home page - Header  =====*/
.backgorund {
  width: 100%;
  max-height: 800px;
  background-image: url(../image/spiderheader.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
}

.logo {
  margin-top: 30px;
  margin-left: 30px;
}



.title {
  width: 100%;
  max-width: 650px;
  margin-left: 7%;
}



/*==== About =====*/

.about {
  position: relative;
  width: 100%;
  height: 800px;
  max-height: 800px;
  background-image: url(../image/thor_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about h3 {
  position: relative;
  text-align: center;
  padding-top: 3%;
  font-size: 2.5em;
  color: #ffff;

}

.about h3::after {
  content: "";
  display: block;
  width: 180px;
  height: 5px;
  background-color: currentColor;
  bottom: -20px;
  margin: 10px auto;
}

.text-p {
  width: 600px;
  margin-top: 10%;
  margin-left: 55%;
  font-size: 2em;
  color: #fff;

}





/*==== Catalog =====*/
.catalog-p {
  width: 500px;
  font-size: 2em;
  margin-top: 2%;
  margin-left: 60%;
}


.catalog {
  width: 100%;
  height: 600px;
}

.catalog h3 {
  position: relative;
  text-align: center;
  padding-top: 3%;
  font-size: 2.5em;
  color: #515050;
}

.catalog h3::after {
  content: "";
  display: block;
  width: 180px;
  height: 5px;
  background-color: #ff6b57;
  bottom: -20px;
  margin: 10px auto;
}



#button-position {
  position: absolute;
  margin-top: 3%;
  left: 67%;
  transform: translate(-50%, -50%);
}

.catalog button {
  border: none;
  background-color: #fe7165;
  background-image: linear-gradient(#fe7165, #fc403d);
  border-radius: 20px;
  padding: 20px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;

}

.catalog a {
  text-decoration: none;
  color: #fff;
}


.bonecos {

  width: 40%;
  margin-left: 130px;
  margin-top: -425px;

}

/*==== Catalogo - Header =====*/

.backgorund-catalog {
  width: 100%;
  max-height: 800px;
  background-image: url(../image/captainmarvelheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
}


/*==== Catalog =====*/

.captain-title {
  width: 100%;
  max-width: 650px;
  margin-left: 4%;
  margin-top: 7%;
}

.container h3 {
  position: relative;
  text-align: center;
  padding-top: 3%;
  font-size: 2.5em;
  color: #515050;
}

.container h3::after {
  content: "";
  display: block;
  width: 180px;
  height: 5px;
  background-color: #ff6b57;
  bottom: -20px;
  margin: 10px auto;
}


.container {
  width: 100%;
  height: 1200px;
}

.row {
  margin: 30px 80px 80px 80px;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

.box {
  padding: 0 50px;
  margin-top: 50px;
}

.products {
  width: 100%;
  object-fit: cover;
}

.box button {
  color: #fff;
  border: none;
  background-color: #fe7165;
  background-image: linear-gradient(#fe7165, #fc403d);
  border-radius: 20px;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: 1em;
  margin: 4px 2px;
  cursor: pointer;
}

.box p {
  margin-top: 10px;
}

/*==== Contato - Header =====*/

.backgorund-contato {
  width: 100%;
  max-height: 800px;
  background-image: url(../image/contatoheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;

}

.contact-title {
  width: 100%;
  max-width: 650px;
  margin-left: 4%;
  margin-top: 2%;
}

/*==== Entre em Contato =====*/

.contact h3 {
  position: relative;
  text-align: center;
  padding-top: 3%;
  font-size: 2.5em;
  color: #515050;
}

.contact h3::after {
  content: "";
  display: block;
  width: 180px;
  height: 5px;
  background-color: #ff6b57;
  bottom: -20px;
  margin: 10px auto;
}

.contact p {
  position: relative;
  text-align: center;
  padding-top: 100px;
  font-size: 25pt;
  color: #515050;

}

form {
  text-align: center;
  width: 100%;
  height: 350px;
  margin-top: 70px;
}

form div {
  margin: 0 auto;
  width: 800px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

form div div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;

}

form input {
  width: 100%;
  border-radius: 12px;
  padding: 11px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  cursor: text;
  border: 1px solid #ccc;
  padding-left: 20px;
  font-size: 13pt;
  color: #141414;
  outline: none;
}

form input::placeholder {
  color: #ccc;
  text-transform: uppercase;
}

form textarea {
  width: 100%;
  border-radius: 12px;
  padding: 5px;
  padding-top: 10px;
  border: 1px solid #ccc;
  padding-left: 20px;
  font-size: 13pt;
  resize: none;
  color: #141414;
  outline: none;

}

form textarea::placeholder {
  color: #ccc;

}

form button {
  width: 800px;
  color: #fff;
  border: none;
  background-color: #fe7165;
  background-image: linear-gradient(#fe7165, #fc403d);
  border-radius: 20px;
  padding: 20px 200px;
  text-decoration: none;
  display: inline-block;
  font: 18pt;
  margin-top: 20px;
  cursor: pointer;
}


/* --- MEDIA QURIES MAX-WIDTH: 450PX --- */
@media screen and (max-width: 450px) {
  .logo {
    width: 35%;
    margin-left: 10px;
    margin-top: 10px;
  }

  .backgorund {
    background-image: url(../image/spidermanheader_mobile.jpg);
    height: 400px;
  }

  .menu {
    flex-direction: column;

  }

  .navbar {
    margin-left: 0;

  }

  .navbar ul {
    justify-content: space-evenly;

  }

  .navbar ul li {
    margin-right: 0;
  }

  .navbar ul li a {
    font-size: 1em;
  }



  .title {
    width: 60%;
    margin-left: -10px;
    margin-top: 50px;
  }

  .about {
    background-color: #fe7165;
    background-image: linear-gradient(#fe7165, #fc403d);
    height: 400px;
  }

  .about h3 {
    font-size: 1.5em;
    padding-top: 30PX;
  }

  .about h3::after {
    width: 90px;
    height: 2.5px;

  }

  .text-p {
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 1em;
    color: white;
  }


  .catalog h3 {
    font-size: 1.5em;
    padding-top: 30PX;
  }

  .catalog h3::after {
    width: 90px;
    height: 2.5px;
  }

  .catalog-p {

    height: 150px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1em;
    color: #515050;
  }

  #button-position {
    position: absolute;
    top: 165%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .catalog button {
    font-size: 1rem;
    width: 150px;
    height: 40px;
    padding: 1px 5px;

  }

  .bonecos {
    width: 80%;
    margin-left: 30px;
    padding-top: 470px;
  }

  /* PAGINA CATALOGO */

  .backgorund-catalog {
    background-image: url(../image/captainmarvelheader_Mobile.jpg);
    background-repeat: no-repeat;
    height: 400PX;
  }

  .captain-title {
    width: 0%;
  }

  .container h3 {
    font-size: 1.5em;
    padding-top: 30PX;
  }

  .container h3::after {
    width: 90px;
    height: 2.5px;
  }

  .row {
    grid-template-columns: 100%;
    margin: 0;

  }

  .box {
    padding-bottom: 20px;
  }

  .products {
    width: 70%;
  }

  /*--------- PAGINA CONTATO -------------- */

  .backgorund-contato {
    height: 400px;
    max-width: 100%;
    width: 400px;
  }

  .contact-title {
    width: 100%;
    margin-top: -20px;
  }

  .contact h3 {
    font-size: 1.5em;
    padding-top: 30PX;
  }

  .contact p {
    width: 200px;
    margin: 0 auto;
    font-size: 1em;
    margin-top: -50px;
  }

  form div {
    margin: 0 auto;
    margin-top: 80px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  form input {
    width: 100%;
    border-radius: 12px;
    padding: 8px;
    text-align: left;
    text-decoration: none;
    cursor: text;
    border: 1px solid #ccc;
    font-size: 0.7em;
    color: #141414;
    outline: none;
  }

  form input::placeholder {
    color: #ccc;
    text-transform: uppercase;

  }

  form textarea {
    height: 100px;
    width: 100%;
    border-radius: 12px;
    padding: 5px;
    padding-top: 10px;
    margin-top: -80px;
    font-size: 1em;

  }

  form button {
    width: 250px;
    border-radius: 15px;
    padding: 5px 10px;
    font: 1em;
    margin-top: 70px;

  }



}